


{% extends 'partial/HeaderFooter.html.twig' %}

{% block metatitle %}
    Pokemon : articles
{% endblock %}

{% block content %}

<body>
    <h1> ARTICLES </h1>
    <div class="document">
        {% for pokemon in pokemons %}
            {% if (pokemon.isPublished) %}
                <div class="articles">
                    <article class="article">
                         {#  methode avec le get #}
                         {#  <h2 class="titre"> <a href ="{{ path( 'one_Article')}}?id={{pokemon.id }}"> {{ pokemon.title }}</a></h2> #}
                        <h2 class="titre"> <a href ="{{ path( 'one_Article',{id: pokemon.id})}}"> {{ pokemon.title }}</a></h2>
                        <p> {{ pokemon.content }}</p>
                    </article>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</body>

{% endblock %}


