


{% extends 'partial/HeaderFooter.html.twig' %}

{% block metatitle %}
    Pokemon : articles de la BDD
{% endblock %}

{% block content %}

<body>
    <h1> ARTICLES de la BDD </h1>
    <div class="document">
        {% for pokemon in pokemons %}
                <div class="articles">
                    <article class="article">
                        <h2 class="titre"> <a href ="{{ path( 'pokemon_one_db',{id: pokemon.id})}}">{{ pokemon.title }}</a></h2>
                        <p> {{ pokemon.type }}</p>
                        <p> {{ pokemon.description }}</p>
                        <div class="image">
                            <img src="{{ asset(pokemon.image) }}" alt="{{ pokemon.title }}">
                        </div>
                    </article>
                </div>
        {% endfor %}
    </div>
</body>

{% endblock %}


