

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('styles/Consolestyle.css') }}">
    <title> {% block metatitle %} {% endblock %} </title>

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<header>
    <div class="image">
        <img src="{{ asset('img/Logo-Darty-1.jpg') }}" alt="">
    </div>
    <div class="central">
        <h3>Les consoles à éviter</h3>
        <ul>
            <li><a href="{{ path("list_consoles") }}"> liste des consoles </a></li>
            <li><a href="">à venir</a></li>
            <li><a href="">à venir</a></li>

        </ul>
    </div>
    <div class="image">
        <img src="{{ asset('img/FNAC-logo-1.jpg') }}" alt="">
    </div>
</header>

{% block content %}
{% endblock %}

     <footer>
    <img src="{{ asset('img/image3.png') }}" alt="">

        <div>
            <ul>
                <li>Mentions légales</li>
                <li>contact</li>
                <li>Crédits</li>
                <li>et tout le reste</li>
            </ul>
        </div>
    </footer>
</body>