

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
    <title> {% block metatitle %} {% endblock %} </title>

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<header>
    <div class="image">
        <img src="{{ asset('img/pikachu.png') }}" alt="">
    </div>
    <div class="central">
        <h3>Les pokemons de la piscine</h3>
        <ul>
            <li><a href="{{ path("list_Articles") }}"> liste des articles </a></li>
            <li><a href="{{ path("list_category") }}">liste des catégories</a></li>
            <li><a href="{{ path("list_consoles") }}">Liste des consoles</a></li>
            <li><a href="{{ path("pokemon_list_db") }}">Liste des pokémons BDD</a></li>
            <li><a href="{{ path("pokemon_search") }}">Recherche pokémon BDD</a></li>
        </ul>
    </div>
    <div class="image">
        <img src="{{ asset('img/carapuce.png') }}" alt="">
    </div>
</header>

{% block content %}
{% endblock %}

     <footer>
    <img src="{{ asset('img/image3.png') }}" alt="">

        <div>
            <ul>
                <li>Mentions légales</li>
                <li>contact</li>
                <li>Crédits</li>
                <li>et tout le reste</li>
            </ul>
        </div>
    </footer>
</body>