

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/style.css') }}">

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<header>
    <div class="image">
        <img src="{{ asset('img/carapuce.jpg') }}" alt="">
    </div>
    <div class="central">
        <h3>Les pokemons de la piscine</h3>
        <ul>
            <li><a href="{{ path("list_Articles") }}"> liste des articles </a></li>
            <li><a href="{{ path("list_category") }}">liste des catégories</a></li>
            <li><a href="">à venir</a></li>
            <li><a href="">à venir</a></li>

        </ul>
    </div>
    <div class="image">
        <img src="{{ asset('img/carapuce.jpg') }}" alt="">
    </div>
</header>

{% block content %}
{% endblock %}

     <footer>
    <img src="../assets/img/image3.png" alt="">

        <div>
            <ul>
                <li>Mentions légales</li>
                <li>contact</li>
                <li>Crédits</li>
                <li>et tout le reste</li>
            </ul>
        </div>
    </footer>
</body>